# how git searches for config files:
# https://git-scm.com/docs/git-config#FILES

[user]
  name = Eduard Bardají Puig
  email = ebardaji@gmail.com
[core]
  editor = "code --wait"
	autocrlf = false
  safecrlf = true
  excludesfile = ~/.gitignore_global
[alias]
  aa = add -A
  st = status
  co = checkout
  br = branch
  up = rebase
  ci = commit
  cim = commit -m
  ciam = commit -a -m
  ciann = commit --amend --no-edit --no-verify
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  lol = log --oneline --graph --decorate --all
  lols = log --oneline --graph --decorate --all -20
  lola = log --pretty='%C(auto)%h %d %s | %an [%C(yellow)%ae%C(auto)]' --graph --all
  lolt = log --pretty='%C(auto)%h %d %s | %C(cyan)%ai%C(auto)' --graph --all
  lolat = log --pretty='%C(auto)%h %d %s | %an [%C(yellow)%ae%C(auto)] %C(cyan)%ai%C(auto)' --graph --all
  branch = branch -a
  bra = branch -a
  pom = push origin master
  cob = checkout -b
  unstage = reset HEAD --
  p = push
  pfwl = push --force-with-lease
  pfo = pull --ff-only
  puo = push -u origin
[color]
  ui = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
