# how git searches for config files:
# https://git-scm.com/docs/git-config#FILES

[user]
  name = Eduard Bardají Puig
  email = ebardaji@gmail.com
[core]
  editor = atom --wait
  autocrlf = input
  safecrlf = true
[alias]
  st = status
  co = checkout
  br = branch
  up = rebase
  ci = commit
  cim = commit -m
  ciam = commit -a -m
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  lol = log --oneline --graph --decorate --all
  lola = log --pretty='%C(auto)%h %d %s | %an [%C(yellow)%ae%C(auto)]' --graph --all
  branch = branch -a
  bra = branch -a
  pom = push origin master
  cob = checkout -b
  unstage = reset HEAD --
[color]
  ui = true
[push]
  default = simple
