[user]
	name = Eduard Bardají Puig
	email = ebardaji@gmail.com
[core]
	editor = vim
[alias]
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
	lol = log --oneline --graph --decorate --all
[color]
	ui = true
